.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.chart rect {
    stroke: white;
    fill: steelblue;
}

.chart text {
    font: 10px sans-serif;
    fill: white;
}

.chart .rule {
    font: 10px sans-serif;
    fill: black;
}

